*
!*/

/build/
/release/
/bin/
/lib/

!.gitignore
!.gitkeep

!README.md
!LICENSE

!CMakeLists.txt

!/.github/**/*.yml
!/cmake/**/*.cmake

!/deps/**/*
!/docs/**/*

!/include/**/*.h
!/src/**/*.cpp

!/test/**/*
!/example/**/*
