*
!*/

/build/
/release/
/bin/
/lib/

!.gitignore
!.gitkeep

!README.md
!LICENSE

!CMakeLists.txt

!/.github/**/*.yml
!/cmake/**/*.cmake

!/deps/**/*
!/docs/**/*

!/http-server/**/*.h
!/http-server/**/*.hpp
!/http-server/**/*.c
!/http-server/**/*.cpp
!/http-server/**/*.html

!/test/**/*
